@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: auto;
}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.container{
    min-height: 200px;
    background-color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
header{
    width: 100%;
    height: 200px;
    background-color: white;
}

header img{
    height: 90px;
    width: 100%;
    object-fit: cover;
}
.header{
    width: 100%;
    height: 110px;
    display: flex;
}
.logo{
    padding: 0 0;
    margin-right: 20%;
}
.logo img{
    height: 80px;
}
.search{
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: 0.01px solid gray;
    padding-left: 20px;
    padding-right: 0px;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    display: flex;
}
.search input{
    width: 90%;
    height: 80%;
    border: none;
    outline: none;
    
}
.bx{
    font-size: 20px;
    margin-left: 0px;
}
.hotline{
    width: 23%;
    height: 50px;
    border-radius: 30px;
    border: 0.01px solid red;
    padding-left: 20px;
    display: flex;
}
.hotline div {
    width: 80%;
    height: 100%;
    text-align: left;
    color: red;
    overflow: hidden;
}
.hotline div p{
    font-size: 100%;
}
.hotline div span {
    font-weight: bolder;
    font-size: 100%;
}
span i {
    background-color: red;
    height: 34px;
    width: 34px;
    padding-left: 17px;
    padding-top: 17px;
    border-radius: 50%;
    color: white;
    position: relative;
}
span i p{
    position: absolute;
    right: 8px;
    top: 0px;
}
.user2{

}

.cart{
}
nav{
    text-align: center;
    background-color: red;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 2223;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    align-items: center;
    position: relative;
}
.menu_phone_tablet{
    display: none;
}
.nav__mobile{
    display: none;
}
nav a ul{
    display: none;
    background-color: white;
    color: black;
    min-width: 100px;
    list-style: none;
    text-align: left;
    padding: 5px 15px;
    position: absolute;
    top: 23px;
    left: 0px;
    font-size: 14px;
    border-radius: 5px;
    /* transition: 10s; */
    animation-name: example;
    animation-duration: 0.5s;
    /* animation-delay: 0.2s; */
}
nav a ul li{
    border-bottom: 0.5px red solid;
    margin-bottom: 10px;
}
nav a:hover ul{
    display: block;
}
@keyframes example {
    0%   {transform: scale(0.1);}
    25%  {transform: scale(0.25);}
    50%  {transform: scale(0.5);}
    75%  {transform: scale(0.75);}
    100% {transform: scale(1);}
  }
/* css for slide */

.slideshow {
    margin: 0 auto;
    width: 99%;
    position: relative;
    top: 0px;
}

.iconleft {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top: calc(50% - 20px);
    z-index: 2222;
    cursor: pointer;
}

.iconright {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: calc(50% - 20px);
    z-index: 2222;
    cursor: pointer;
}
#thumb{
    position: absolute;
    bottom: 30px;
    left: 20%;
    width: 50%;
    height: 80px;
    display: flex;
}
#thumb img{
    object-fit: cover;
    height: 70px;
    width: 23%;
    margin: 0.5%;
    border: 2px solid #CCC;
    cursor: pointer;
}

#icon_cart_plus{
    position: fixed;
    right: 10px;
    top: 49.5%;
    color: red;
    font-size: 3em;
    display: none;
    transition: 5s;
}
.prod>button:active{
    color: black;
}


/* css for danh muc */

.danhmuc {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.danhmuc div{
    width: 25%;
    height: 231px;
    /* border: 1px solid red; */
    border: none;
    outline: none;
    padding: 20px;
    float: left;
    position: relative;
    overflow: hidden;
}
.danhmuc div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s;
}
.danhmuc div h2{
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
    font-size: 1.8em;
    transition: 0.3s;
}
.danhmuc div span, .danhmuc div p, .danhmuc div h2{
    position: absolute;
    z-index: 1;
    color: white;
}
.danhmuc div span{
    left: 130px;
}
.danhmuc div p{
    left: 162px;
}
.danhmuc div span, .danhmuc div p{
    top: 400px;
    transition: 0.4s;
}
.danhmuc div:hover img{
    width: 105%;
    height: 105%;
}
.danhmuc div:hover span, .danhmuc div:hover p{
    top: 200px;
}
.danhmuc div:hover h2{
    bottom: 65px;
}
.danhmuc div:hover h2:hover{
    color: red;
}

/* CSS FOR BEST SELLER */

.best_seller{
    clear: both;
    text-align: center;
    margin-top: 350px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 470px;
    padding-top: 20px;
    background-color: white;
}
.best_seller>button{
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    z-index: 22;
}
.best_seller #left{
    left: 10px;
}
.best_seller #right{
    right: 10px;
}
.best_seller>button i{
    color: red;
}
.best_seller__list{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    /* top: 100px;
    left: 10px; */
    /* min-height: 318px;
    min-width: 214px; */
    width: 100%;
    
}
.prod{
    margin-bottom: 10px;
    border: 2px gray dotted;
    width: 18%;
    height: 350px;
}
.prod img{
    transition: 0.5s;
    width: 100%;
    height: 61%;
}
.prod__name{
    font-size: 14px;
    margin-bottom: 15px;
    width: 80%;
    height: 83.2px;
    padding: 0px 15px 0px 15px;
    text-align: center;
    border-bottom: 3px gray dotted;
    overflow: hidden;
}
.prod__price{
    float: left;
    display: flex;
    margin-left: 10px;
    color: red;
}
.prod>button{
    float: right;
    background-color: red;
    margin-right: 10px;
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}
.prod>button:hover{
    background-color: rgb(243, 61, 61);
    padding: 6px;
}
.secti{
    width: 99%;
    min-height: 720px;
    margin: 20px auto;
    background-color: white;
}
.story__text>h1{
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}
.story__text{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.secti>.story_nam>img, .secti>.story_nu>img{
    float: left;
    width: 470px;
    height: 330px;
    margin-right: 50px;
    transition: 0.5s;
}
.story__text p{
    text-align: justify;
    margin-bottom: 20px;
}
.story__text a{
    font-size: 1.5em;
    color: black;
}
.story__text a:hover{
    color: red;
}
.giaynamnangdong_list{
    margin-top: 80px;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    min-height: 318px;
    min-width: 214px;
    padding-left: 10px;
}
.secti>.story_nu>img{
    width: 470px;
    height: 330px;
    transition: 0.5s;
    float: right;
    margin-right: 0;
}
.story_nu>.story__text{
    float: left;
    width: 633px;
}
.prod:hover img{
    transform: translateY(-50px) rotate(-20deg);
}
.prod p:hover{
    color: red;
}
footer{
    clear: both;
}
footer .top{
    padding-top: 10px;
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.row{
    width: 18.5%;
    height: 100%;
}
.row >span > img{
    float: left;
    margin-right: 5px;
}
.row__text p{
    font-weight: bolder;
}
.row__text span{
    font-size: 14px;
}
footer .middle{
    padding: 20px 40%;
}
.card{
    width: 300px;
    height: 400px;
    background-color: #242628;
    padding: 20px;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}
.card__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 33%;
    margin-bottom: 25px;
    border: 5px solid #f2726a ;
    margin-top: 5px;
    transition: 0.5s;
    cursor: pointer;
    transition-delay: 0.3s;
}
.card__img:hover{
    width: 340px;
    height: 440px;
    border-radius: unset;
    margin-left: -20px;
    margin-bottom: unset;
    border: none;
    margin-top: -20px;
}
.card__img:hover .card{
    padding: unset;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__name{
    text-align: center;
    margin-bottom: 10px;
}
.card__name p {
    color: #f2726a;
    margin-bottom: 25px;
}
.card__name h2{
    color: white;
    margin-bottom: 5px;
}
.card__social a{
    color: white;
    margin-left: 33px;
    font-size: 24px;
    text-decoration: none;
}
.card__social a:hover{
    color: #f2726a;
}
.card__button{
    border: 3px solid #f2726a;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    border-radius: 8px;
    margin-left: 33%;
    margin-top: 45px;
}
.card__button button{
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
}
.card__button:hover{
    background-color: #f2726a;
}

/* css for form dang ky */

.container{
    width: 80%;
    margin: 0 auto;
    min-height: 50px;
}
.container h3{
    text-align: center;
    color: red;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    height: 55px;
    padding: 10px 0px;
}
.inp{
    width: 48%;
    float: left;
    white-space: break-spaces;
}
.inp input{
    height: 30px;
    width: 80%;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}
.inp button{
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-top: 45px;
    margin-left: 65%;
    color: white;
    background-color: red;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.inp button:hover{
    width: 105px;
    height: 31px;
    background-color: rgb(235, 51, 51);
}
.inp a{
    margin-left: 350px;
}
#user:hover a{
    display: block;
}
#user {
    position: relative;
}
#user a{
    display: none;
    position: absolute;
    top: 45px;
    width: 80px;
    font-size: 14px;
    color: red;
    padding: 7px;
}
#user #a1{
    left: -40px;
}
#user #a2{
    left: 40px;
}
#thanhtoan{
    width: 80%;
    margin: 30px auto;
}
table{
    width: 100%;
}
#thanhtoan h3{
    text-align: center;
    color: red;
    font-size: 1.8em;
    margin-bottom: 50px;
}
#thanhtoan table tr th{
    text-align: left;
    width: 20%;
}
#thanhtoan table tr #thanhtoan__sp{
    width: 40%;
}
#thanhtoan table tr td img{
    width: 100px;
    height: 120px;
    object-fit: cover;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
}
#thanhtoan table tr td p{
    margin-top: 20px;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 120%;
    text-align: left;
    margin-right: 20px;
}
#thanhtoan table tr td button{
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
}
#thanhtoan table tr td button:hover{
    font-style: italic;
}
#thanhtoan table tr td{
    text-align: center;
    /* background-color: #00853e; */
    align-items: center;
}
.sp {
    text-align: left !important;

}
.menu_phone_tablet li{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}
.menu_phone_tablet li.active{
    color: #fff;
    background-color: black;
}
.menu_phone_tablet li:hover{
    color: #fff;
    background-color: black;
}
