.menu li a{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}
.menu li.active a{
    color: #fff;
    background-color: black;
}
.menu li a:hover{
    color: #fff;
    background-color: black;
}
@media screen and (max-width: 768px){
    nav{
        flex-wrap: wrap;
    }
    .menu{
        display: none;
    }
    .btn-toggle-menu{
        display: unset;
    }
    #toggle-menu:checked + .menu{
        display: block;
        width: 100%;
    }
    #toggle-menu{
        display: none;
    }
}